{% macro user_form(form_action, roles, data={}, hide_login_password=False, field_errors={}, current_user=None) %}

<form method="POST">
    {% if not hide_login_password %}
        <div class="mb-3">
            <label for="username" class="form-label">Логин *</label>
            <input 
                type="text" 
                class="form-control {% if field_errors.username %}is-invalid{% endif %}" 
                id="username" 
                name="username" 
                value="{{ data.username or '' }}" 
            >
            {% if field_errors.username %}
                <div class="invalid-feedback">{{ field_errors.username }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Пароль *</label>
            <input 
                type="password" 
                class="form-control {% if field_errors.password %}is-invalid{% endif %}" 
                id="password" 
                name="password"
            >
            {% if field_errors.password %}
                <div class="invalid-feedback">{{ field_errors.password }}</div>
            {% endif %}
        </div>
    {% endif %}

    <div class="mb-3">
        <label for="last_name" class="form-label">Фамилия</label>
        <input 
            type="text" 
            class="form-control {% if field_errors.last_name %}is-invalid{% endif %}" 
            id="last_name" 
            name="last_name" 
            value="{{ data.last_name or '' }}"
        >
        {% if field_errors.last_name %}
            <div class="invalid-feedback">{{ field_errors.last_name }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="first_name" class="form-label">Имя *</label>
        <input 
            type="text" 
            class="form-control {% if field_errors.first_name %}is-invalid{% endif %}" 
            id="first_name" 
            name="first_name" 
            value="{{ data.first_name or '' }}" 
        >
        {% if field_errors.first_name %}
            <div class="invalid-feedback">{{ field_errors.first_name }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="patronymic" class="form-label">Отчество</label>
        <input 
            type="text" 
            class="form-control" 
            id="patronymic" 
            name="patronymic" 
            value="{{ data.patronymic or '' }}"
        >
    </div>

    <div class="mb-3">
        <label for="role_id" class="form-label">Роль</label>
        <select class="form-select" name="role_id" id="role_id" {% if current_user.role.name != 'Admin' %}disabled{% endif %}>
            <option value="">-- Без роли --</option>
            {% for role in roles %}
                <option value="{{ role.id }}" {% if data.role_id == role.id|string %}selected{% endif %}>
                    {{ role.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-success">Сохранить</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Отмена</a>
</form>
{% endmacro %}
